$cursor_bg: #fff;
$cursor_hover_bg: #afb943;
$cursor_fol_bg: #828282;

body.cursor_ready {
  &:not(.fancybox-active),
  & a,
  & button,
  & input,
  & textarea {
    cursor: none;
  }
}

div.cursor {
  &,
  &_follow {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  & {
    background-color: $cursor_bg;
    height: 8px;
    width: 8px;
    box-shadow: 0 0 3px $cursor_fol_bg;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    z-index: 100000;

    &.hover {
      background-color: $cursor_hover_bg;
      transform: translate(-50%, -50%) scale(2);
      box-shadow: none;
    }

    &.none {
      display: none;
    }

    &_follow {
      background-color: $cursor_fol_bg;
      transition: opacity 0.2s ease-in-out;
      height: 14px;
      width: 14px;

      &.hover {
        opacity: 0;
      }
    }
  }
}
